@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


@font-face {
  font-family: 'metropolisbold';
  src: url("./fonts/metropolis/metropolis-bold-webfont.woff2") format('woff2'),
  url('./fonts/metropolis/metropolis-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



#navigation{
  background-color:#2c3e50!important;
  padding: 1rem;
}

nav.navbar{
  background-color:#2c3e50!important;
}

a.navbar-brand, .nav-item{
  font-family: 'metropolisbold';
  color: #fff!important;
  font-size: 1.75rem;
}

a.nav-item{
  font-size: 1.25rem;
  margin-right: 3rem!important;
}


a.nav-item:hover{
  color: #69BE9D!important;
}

#hero{
  background-color: #69BE9D;
  color: #fff;
}

#hero img{
  width: 50%;
  display: block;
  margin: 0 auto;
}

h2{
  font-size: 4rem;
  font-family: 'metropolisbold';
}

p{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

p#separator{
  height: 3px;
  border: 5px solid #fff;
}

p#separator3{
  height: 3px;
  border: 3px solid #2c3e50;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

p#separator2{
  height: 3px;
  border: 5px solid #000;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #69BE9D;
}

.image-container:hover .overlay {
  opacity: 0.85;
  border-radius: 10px;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  background-color: transparent;
  border: transparent;
  outline: unset!important;
}

.fa-plus:hover {
  color: #eee;
  border: unset;
  outline: unset;
}

.image{
  border-radius: 10px;
}

.modal-button{
  background-color: #69BE9D!important;
  border: unset!important;
  outline: unset!important;
  color: #fff;
  border-radius: 10px;
  padding: 0.75rem 2rem ;
  font-family: sans-serif;
  font-weight: 500;
}

.modal-body{
  border: unset!important;
  width: 100%;
  margin: 0 auto;
}
.modal-body img{
  border-radius: 10px!important;
}

span.modal-cross{
  font-weight: 800;
  font-size: 1rem;
}

.close{
  font-size: 3rem;
  color: #69BE9D!important;
  font-weight: 800;
  text-decoration: none;
  opacity: unset!important;
  border: transparent!important;
  outline: unset!important;
  margin: unset!important;
}

p.modal-text{
  font-size: 1rem;
}

h5.modal-title{
  font-size: 3rem;
  font-family: 'metropolisbold';
  color: #2c3e50;
  margin: 0 auto;
  position: relative;
  left: 3%;
}